body {
  margin: 0;
  padding: auto;
  font-family: "Open Sans", sans-serif;
}

/* .nav-main {
  display: flex;
  width: 100%;
  background-color: crimson;
} */

/* Nav-bar */

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  background-color: rgb(80, 26, 129);
  justify-content: flex-end;
  padding-right: 10%;
  position: fixed;
  width: 90%;
}

li {
  padding: 20px;
}

a {
  text-decoration: none;
  color: bisque;
}

a:hover {
  color: coral;
  transition: 0.5s;
}

/* Home */

.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  color: black;
  align-items: center;
}

.about-me {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.detail {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  height: 100vh;
/*   background-color: lightslategray; */
  align-items: center;
}

.skill {
  width: 100px;
  height: 100px;
  /* border: 2px solid red; */
  text-align: center;
  padding: 5% 5%;
  margin: 2%;
}

.skill > img {
  width: 100px;
  height: 100px;
  align-content: center;
}
